*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
body{
    background: url(image/gris.jpg) ;
    background-size: cover;
}
img{
    float:  right;
    height: 130px;
}
h1{
    border: solid navy 4px;
    box-shadow: 4px 4px 2px white;   
    font-size: 3em;
    padding: 3px;
    margin: auto;
    width: fit-content;
}
.bienvenu{
    display: flex;
    margin: auto;
    min-width: 50%;
    text-align: center;
}
#liseret, #contenu{
    display: inline-block;
    vertical-align: top;
}
#liseret{
    background-image:url(image/noir.png);
    height: 600px;
    width: 8%;
    margin-right: 3%;
    border-radius: 10px;
    border: black solid;
    margin-top: auto;
    margin-bottom: auto;
}
#contenu{
    width: 85%;
}
section{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 1%;
}
.bienvenu{
    color:navy;
    font-size: 25px;
    
}
h2{
    color: rgb(7, 153, 2);
    font-size: 29px;
    text-align: center;
}
article{
    font-size: 20px;
}
ul,ol{
    display: table;
    margin: 0 auto;
    text-align: left;   
}
ul{
    list-style: none;
}
.progression_oui:hover{
    background-color: limegreen;
}
.progression_encours:hover{
    background-color: orangered;
}
.progression_non:hover{
    background-color: rgb(187, 9, 9);
}
a /* Liens par défaut (non survolés) */{
   text-decoration: none;
   color: red;
   font-style: italic;
}
a:hover /* Apparence au survol des liens */{
   text-decoration: underline;
   color: green;
}
a:active /* Quand le visiteur clique sur le lien */{
    background-color: #FFCC66;
}
footer{
    font-size: 18px;
    text-align: center;
}
.ig{
    display: flex;
    height: 80px;
    width: 80px;
    justify-content: center;
    margin: auto;
    
}

/* Responsive mobile */

@media all and (max-device-width: 480px){
    #liseret{
        display: none;
    }
    article{
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 99%;
       
    }
    h1{
        border: solid navy 4px;
    box-shadow: 4px 4px 2px white;   
    font-size: 1.5em;
    padding: 3px;
    margin: auto;
    width: fit-content;
    }
    .bienvenu{
        color:navy;
        font-size: 1.2em;
        
    }
    section{
        width: 99%;
    }
    #photo{
        display: flex;
        justify-content: center;
        
    }
}